{{#partial "content"}}
    <ul>
        <li>name:{{hero.name}}</li>
        <li>Hero age:{{hero.age}}</li>
        <li>Powers:{{hero.SpecialPower}}</li>
        <li>Weaknesses:{{hero.weakness}}</li>
        <li>Super Hero League:{{hero.league}}</li>
    </ul>

{{/partial}}
{{>layout.hbs}}